<!DOCTYPE html>
<!--[if IE 7]>
<html class="msie7" lang="fr"><![endif]-->
<!--[if IE 8]>
<html class="msie8" lang="fr"><![endif]-->
<!--[if IE 9]>
<html class="msie9" lang="fr"><![endif]-->
<!--[if !IE]><!-->
<html lang="fr" xmlns="http://www.w3.org/1999/html"><!-- <![endif]-->
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ asset('bundles/shareitmain/css/bootstrap.css') }}" type="text/css">
    <title></title>

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

</head>
<body style="padding-top: 50px;">
{% block body %}
    {% include '::menu.html.twig' %}

    {% block page %}{% endblock %}

{% endblock %}

</body>
</html>