<div id="header">
    <ul class=" navbar navbar-fixed-top nav nav-pills">
        <li class="active">
            <a href="#">
                Home
                <span class="badge pull-right">42</span>
            </a>
        </li>
        <li><a href="#">Groups</a></li>
        <li><a href="#">Posts</a></li>
        <li><a href="#">Tour</a></li>
        {% if is_granted("ROLE_USER") %}
            <li><a href="#">My account</a></li>
        {% endif %}

        {% if is_granted("ROLE_USER") %}
            <li style="float:right;"><a href="{{ path('fo_logout') }}">Logout</li>
        {% else %}
            <li style="float:right;"><a href="{{ path("fo_login") }}">Login</a></li>
        {% endif %}
    </ul>
</div><!-- #header -->
