/*  =03_INSCRIPTION
----------------------------------------------------------------------------- */
.form-registration{
   width: 620px;
}
.form-registration .form-left{
    width: 290px;
    margin-right: 20px;
}
.form-registration .form-right{
    width: 290px;
}


/*  =03_CONNEXION
----------------------------------------------------------------------------- */
.bloc-connect{
    width: 650px;
}
/* bloc signin */
.bloc-signin{
    position: relative;
    width: 320px;
}
.bloc-signin a{
    margin-top: 10px;
}
.bloc-signin:after{
    content: "";
    display: block;
    position: absolute;
    top: 76px;
    right: 31px;
    width: 1px;
    height: 80px;
    background: #666666;
}
/* bloc login */
.bloc-login{
    width: 330px;
}
.form-connect-inputs{
    width: 220px;
}
.form-connect .form-item{
    min-height: 50px;
}
.form-connect button{
    min-width: inherit;
    width: 80px;
    float: right;
    margin-top: 10px;
}
.bloc-login .JS_show-hidden-bloc{
    cursor: pointer;
    text-decoration: underline;
    text-align: right;
}
/* bloc password */
.bloc-lost-password{
    visibility: hidden;
    width: 500px;
}
.bloc-lost-password.visible{
    visibility: visible;
}
.bloc-lost-password .form-item{
    width: 220px;
}
.bloc-lost-password .form-item button{
    position: absolute;
    top: 0;
    left: 240px;
}
/* icons */
.form-item input{
    padding-right: 30px;
}
.form-item input+.icon{
    position: absolute;
    top:5px;
    right: 5px;
    font-size: 20px;
}

/* =03 POSTER IDEE
----------------------------------------------------------------------------- */
.bloc-post-idea{
    width: 640px;
}
.bloc-post-idea textarea{
    resize:vertical;
    height: 160px !important;
}
.file-wrapper {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    min-height: 32px;
    outline: none;
}
.file-wrapper input {
    cursor: pointer;
    font-size: 100px;
    height: 100%;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
    position: absolute;
    right: 0;
    top: 0;
}
.file-wrapper .file-holder{
    width: 250px;
    margin-right: 20px;
}

/* =03 MON COMPTE
----------------------------------------------------------------------------- */
.page-account .inner-width{
    width: 600px;
}
.wrapper-profile{
    position: relative;
    height: 134px;
    width: 134px;
    margin: 0 auto;
}
.wrapper-profile .mask,
.wrapper-profile .picture{
    position: absolute;
    top: 0;
    left: 0;
}
.wrapper-profile .mask{
    z-index: 2;
}
/* user infos */
.user-infos{
    position: relative;
}
.user-infos-text p{
    line-height: 22px;
}
.user-infos-text .btn{
    position: absolute;
    right: 0;
    bottom: 0;
}


/* user edit infos*/
.user-edit-infos{
    display: none;
}
.user-edit-infos.visible{
    display: block;
}
.user-edit-infos-bloc{
    border-top: 1px solid #a5a5a5;
    margin-top: 20px;
    padding-top: 20px;
}

.user-edit-infos-bloc .file-wrapper .file-holder{
    width: 290px;
}

/*  =03_MON COMPTE : MES IDEES
----------------------------------------------------------------------------- */

.account-idea {
	margin-top:30px;
}

.account-idea .btn {
	width:auto;
	min-width:inherit;
	height:26px;
	float:left;
	line-height:26px;
	margin-bottom:15px;
	margin-right:5px;
}
.account-idea-close {
	background-image:url(../img/skin/icons.png);
	background-position:0px -65px;
	width:26px;
	height:26px;
	float:left;
	display:block;
    cursor: pointer;
}
	.account-idea-close:hover {
		background-position:-26px -65px;
	}

.account-idea .right {
	width:280px;
	float:right;
	
	margin-left:20px;
	padding-top:10px;
}

.account-idea .right .progress {
	float:none;
}

.account-idea .right .over-icon {
	float:right;
	margin-right:0;
	margin-top:11px;
}

.account-idea .friendsvote {
	border-top:1px solid #a5a5a5;
}

/* idea delete confirm */
.idea-delete-confirm{
    width: 430px;
    display: none;
}
.idea-delete-confirm.visible{
    display: block;
}
.idea-delete-confirm p{
    width: 320px;
    line-height: 28px;
}
.idea-delete-confirm .btn{
    margin: 0;
    font-size: 12px;
    padding: 0 10px;
}
.idea-delete-confirm .btn.bg-blue{
    margin-right: 25px;
}
.idea-delete-confirm .btn.bg-blue:hover{
    background-color: #1681c8; /* override for no-hover */
}