
                
----------------------------------------------------------------------------- */

/*  =PRINT
----------------------------------------------------------------------------- */
@media print {

}

/*  =RESET
----------------------------------------------------------------------------- */
* {
    margin:0; padding:0; vertical-align:baseline;
    /* apply a natural box layout model to all elements */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-family: 'Signika-Light', Arial, Helvetica, sans-serif;
	font-size:62.5%; /* :INFO:1em = 10px */
    font-style: normal;
}
body {
    font-size: 1.4em;
    margin:0;
    height:100%;
    color:#6e6e6e;
    background:#fff;
}

input { height:auto; }
a img, fieldset, form { border:0; }
ins, abbr, acronym { text-decoration:none; border:0; font-style:normal; }
a:hover ins, a:hover abbr, a:hover acronym { text-decoration:underline; }
address { font-style:normal; }
ul { list-style:none; }
q:before, q:after { content:''; }
small { font-size:0.9em; }
input, select, textarea, button { font:1em Arial, Verdana, Helvetica, sans-serif; }
textarea { overflow:auto; }

sup { vertical-align:text-top; }

hr,
.accessibility {
    position:absolute;
    left:-9999em;
}

button {
    width:auto;
    overflow:visible;
    border:0;
    background:none;
    cursor:pointer;
    color:#6e6e6e;
}
button::-moz-focus-inner { /*firefox extra padding removed*/
    border: 0;
    padding: 0;
}
input.submit {
    width:auto !important;
    height:auto !important;
    cursor:pointer !important;
    border:0 !important;
    overflow:visible;
}


/*  =GENERIC
----------------------------------------------------------------------------- */
#page{
    padding-top: 64px;
}
.inner-width {
    margin:0 auto;
    width:940px;
    position: relative;
}
.line-white{
    background: white;
    padding: 30px 0;
}
.line-gray{
     background: #f0f0f0;
     padding: 30px 0;
}
.bg-gray{
    background: #f0f0f0;
}
.bg-blue{
    background: #1681c8;
}
.bg-white{
    background: white;
}
.bg-red{
    background: #ff4c4b;
}
/* font weight */
.light{
     font-family: 'Signika-Light';
}
.regular{
    font-family: 'Signika-Regular';
}
.bold{
    font-family: 'Signika-Bold';
}
/* links */
a {
    color:#6e6e6e;
    cursor:pointer;
    text-decoration: none;
}
/* rounded corners */
.rd5{
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
	behavior: url(css/PIE.php);
	position:relative;
}
	.rd5-u{
		-webkit-border-radius: 5px 5px 0 0;
		   -moz-border-radius: 5px 5px 0 0;
				border-radius: 5px 5px 0 0;
		behavior: url(css/PIE.php);
		position:relative;
	}

.rd10{
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
	behavior: url(css/PIE.php);
	position:relative;
}

/*  =BUTTONS
----------------------------------------------------------------------------- */
/* buttons default */
.msie8 .btn{
    position: relative;
}
.btn{
    display: inline-block;
    font-family: 'Signika-Regular';
    text-transform: uppercase;

    -webkit-transition: all 100ms ease;
       -moz-transition: all 100ms ease;
            transition: all 100ms ease;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
button.btn{
    text-align: left;
}
.btn .icon-arrow-right{
    float: right;
    display: block;
}
/* buttons small */
.btn-s{
    min-width: 177px;
    padding: 0 8px;
    height: 32px;
    line-height: 32px;
}
.btn-s .icon-arrow-right{
    font-size: 16px;
    line-height: 30px;
    margin-right: -5px;
}
.btn-s .icon-file{
    float: left;
    font-size: 16px;
    line-height: 30px;
    margin-right: 8px;
}

/* buttons medium */
.btn-m{
    font-family: 'Signika-Bold';
    font-size: 16px;
    min-width: 290px;
    padding: 0 12px;
    height: 44px;
    line-height: 44px;

}
.btn-m .icon-arrow-right{
    font-size: 20px;
    line-height: 44px;
    margin-right: -5px;
}
.btn-m .icon-pen{
    float: left;
    font-size: 22px;
    position: relative;
    top: 9px;
    margin-right: 8px;
}
/* buttons large */
.btn-l{
    font-family: 'Signika-Bold';
    font-size: 18px;
    min-width: 250px;
    padding: 0 16px;
    height: 54px;
    line-height: 54px;
}
.btn-l .icon-arrow-right{
    font-size: 28px;
    line-height: 54px;
    margin-right: -10px;
}

/* buttons colors */
.btn.bg-blue{
    color: white;
}
/* hover state */
.btn.bg-blue:hover{
    background: #fe4b49;
}
.btn.bg-gray:hover, .btn.bg-white:hover {
	background:#6e6e6e;
	color:#fff;
}

/*  =PIE OBJECTS
----------------------------------------------------------------------------- */
.msie8 #header,
.msie8 .rd5,
.msie8 .rd10,
.msie8 #user-idea-tool a,
.msie8 .btn{
    behavior: url(css/PIE.php);
}

/*  =LAYOUT
----------------------------------------------------------------------------- */
.col-size-1 { width:300px; }
.col-size-2 { width:620px; }
.col-size-3 { width:290px; }


/*  =TITLES
----------------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
.title-1 {
	color:#808080;
	font-size:56px;
	font-family: 'Signika-Bold';
}
.title-2 {
	color:#1681c8;
	font-size:56px;
	font-family: 'Signika-Bold';
}
.title-3 {
	color:#ff4c4b;
	font-size:34px;
	font-family: 'Signika-Bold';
}
.title-3 a { color:#ff4c4b; }
.title-3 span { font-family: 'Signika-Light'; }
.title-4 {
	font-size:21px;
	font-family: 'Signika-Light';
	text-transform:uppercase;
	margin-bottom:15px;
}
.title-5 {
	font-size:30px;
	font-family: 'Signika-Regular';
	text-transform:uppercase;
	margin:10px 0 25px;
}
.title-6 {
    font-size:30px;
    font-family: 'Signika-Regular';
}
.title-7 {
    font-size:14px;
    font-family: 'Signika-Regular';
	text-transform:uppercase;
	margin:30px 0 15px;
}
.title-8 {
    font-size:20px;
    font-family: 'Signika-Regular';
    text-transform:uppercase;
    margin-bottom:5px;
}
/* titles with icon-fonts */
.title-5[data-icon] span{
    display: block;
    margin-top: -60px;
}

.title-5[data-icon]:before{
    color:#e7e5e5;
    font-size: 100px;
}​


/*  =TEXTS
----------------------------------------------------------------------------- */
.txt-12 { font-size:12px; }
.txt-14 { font-size:14px; }
.txt-15 { font-size:15px; }
.txt-18 { font-size:18px; }
.txt-20 { font-size:20px; }
.txt-24 { font-size:24px; }
.txt-30 { font-size:30px; }
.txt-31 { font-size:31px; }
.txt-37 { font-size:37px; }
.clr-blue { color:#1681c8; }
.clr-white { color:#ffffff; }


/*  =LINKS
----------------------------------------------------------------------------- */
.link-back {
	text-transform:uppercase;
	font-family: 'Signika-Regular';
	font-size:14px;
}



/*  =LISTS
----------------------------------------------------------------------------- */
.list-1 li {
	color:#1681c8;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	list-style-type:disc;
}
.list-1 li a {
	color:#1681c8;
	font-family: 'Signika-Bold';
}

.list-2 li {
	color:#6e6e6e;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	list-style-type:disc;
}
.list-2 li a {
	color:#6e6e6e;
	font-family: 'Signika-Regular';
}


/*  =CARROUSEL
----------------------------------------------------------------------------- */
.carrousel { position:relative; }
.carrousel-list { z-index:1; }
.carrousel-ideas .carrousel-list { height:350px; }
.carrousel-pager {
	margin-top:5px;
	text-align:center;
}
.carrousel-pager span {
	cursor:pointer;
	display:inline-block;
	width:13px;
	height:13px;
	
	background-image:url(../img/skin/icons.png);
	background-position:-14px -46px;

	margin:0 2px;
	vertical-align:middle;
}
.carrousel-pager .activeSlide {
	background-position:0px -46px;
}
.carrousel-controls div {
	position:absolute;
	top:110px;
	z-index:2;
	color:#fff;
	cursor:pointer;
	font-size:45px;
	-webkit-text-shadow: 0 3px 4px #000;
	   -moz-text-shadow: 0 3px 4px #000;
	        text-shadow: 0 3px 4px #000;
}
.carrousel-controls .prev { left:0; }
.carrousel-controls .next { right:0; }

/*  =CARROUSEL BIG
----------------------------------------------------------------------------- */
.thematic-slide .carrousel-ideas .carrousel-list { height:530px; }
.thematic-slide .carrousel-controls div { top:230px; }

/* =THEMES
----------------------------------------------------------------------------- */
/* BIEN MANGER (orange) */
.food-clr 			            { color:#fb8614; }
.food-clr.negative:hover,
.food-clr.negative.active,
.food-bg						{ background-color:#fb8614; color:#fff; }
.food-bg.negative:hover			{ background-color:#fb8614; color:#fb8614; }
.food-bg.negative		        { background-color:#fff; }
.food-brd 			            { border-color:#fb8614; }
.food-clr-hover          		{ color:#fb8614; }
.food-clr-hover a:hover  		{ color:#fb8614; }

/* POST (violet) */
.posts-clr 			            { color:#b454dc; }
.posts-clr.negative:hover,
.posts-clr.negative.active,
.posts-bg						{ background-color:#b454dc; color:#fff; }
.posts-bg.negative:hover		{ background-color:#b454dc; color:#b454dc; }
.posts-bg.negative		        { background-color:#fff; }
.posts-brd 			            { border-color:#b454dc; }
.posts-clr-hover         		{ color:#b454dc; }
.posts-clr-hover a:hover  		{ color:#b454dc; }

/* TOUR (bleu foncé) */
.tour-clr 		            { color:#1681c8; }
.tour-clr.negative:hover,
.tour-clr.negative.active,
.tour-bg					{ background-color:#1681c8; color:#fff; }
.tour-bg.negative:hover		{ background-color:#1681c8; color:#1681c8; }
.tour-bg.negative		    { background-color:#fff; }
.tour-brd 		            { border-color:#1681c8; }
.tour-clr-hover          	{ color:#1681c8; }
.tour-clr-hover a:hover  	{ color:#1681c8; }

/* My account (vert) */
.my-account-clr 	            { color:#1abc9c; }
.my-account-clr.negative:hover,
.my-account-clr.negative.active,
.my-account-bg					{ background-color:#1abc9c; color:#fff; }
.my-account-bg.negative:hover 	{ background-color:#1abc9c; color:#1abc9c; }
.my-account-bg.negative		{ background-color:#fff; }
.my-account-brd 	            { border-color:#1abc9c; }
.my-account-clr-hover          { color:#1abc9c; }
.my-account-clr-hover a:hover  { color:#1abc9c; }

/* GROUPS (jaune) */
.groups-clr			            { color:#ffcb2f; }
.groups-clr.negative:hover,
.groups-clr.negative.active,
.groups-bg						{ background-color:#ffcb2f; color:#fff; }
.groups-bg.negative:hover 		{ background-color:#ffcb2f; color:#ffcb2f; }
.groups-bg.negative		        { background-color:#fff; }
.groups-brd 			            { border-color:#ffcb2f; }
.groups-clr-hover          		{ color:#ffcb2f; }
.groups-clr-hover a:hover  		{ color:#ffcb2f; }

/* TEMPS FORTS (bleu clair) */
.highlights-clr 	            { color:#5bc1ec; }
.highlights-clr.negative:hover,
.highlights-clr.negative.active,
.highlights-bg					{ background-color:#5bc1ec; color:#fff; }
.highlights-bg.negative:hover 	{ background-color:#5bc1ec; color:#5bc1ec; }
.highlights-bg.negative		    { background-color:#fff; }
.highlights-brd 	            { border-color:#5bc1ec; }
.highlights-clr-hover          { color:#5bce1c; }
.highlights-clr-hover a:hover  { color:#5bce1c; }

/* BORDURE GRISE IDEE THEMATIQUE */
.idea-brd 	           			{ border-color:#6e6e6e; }

/* STYLE OFF (IDEE NON RETENUE) */
.off-clr 			            { color:#808080; }
.off-clr.negative:hover,
.off-clr.negative.active,
.off-bg							{ background-color:#808080; color:#fff; }
.off-bg.negative:hover			{ background-color:#808080; color:#808080; }
.off-bg.negative		        { background-color:#fff; }
.off-brd 			            { border-color:#808080; }
.off-clr-hover          		{ color:#808080; }
.off-clr-hover a:hover  		{ color:#808080; }

/*----------------------------------------------------------------------------- */

/*  =HOVER ICONS
----------------------------------------------------------------------------- */

.share-list .icon {
	width:28px;
	margin-right:15px;
}
	
.share-list .icon:hover {
	color:#ff4c4b;
	cursor:pointer;
}

.friendsvote .icon:hover {
	color:#1681c8;
	cursor:pointer;
}