/*  =FOOTER
----------------------------------------------------------------------------- */
#footer{
    height: 140px;
    background: #1681c8;
    color:#fff;
}
#footer a{
    color: #fff;
}
/* links */
.footer-links{
    padding-top: 16px;
}
.footer-links li{
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #298bcc;
}
.footer-links li:before{
    /* icon arrow */
    float: right;
    color: #6cafdc;
    font-size: 20px;
    line-height: 36px;
}
.footer-links li a{
    display: block;
    position: relative;
    font-family: 'Signika-Regular';
    padding-left: 30px;
}
.footer-links li a:before{
    /* icon item*/
    font-size: 22px;
    position: absolute;
    top:6px;
    left: 0;
}

/* share */
.footer-share{
    background: #0063a5;
    height: 140px;
    padding: 20px;
}
	.icon-share.facebook {
		display: inline-block;
		width:33px;
		height:33px;
		margin-right:8px;
	
		background-image:url(../img/skin/icons.png);
		background-position:-57px 0px;
	}
		.icon-share.facebook:hover {
			background-position:-57px -33px;
		}
		
	.icon-share.google {
		display: inline-block;
		width:33px;
		height:33px;
		margin-right:8px;

		background-image:url(../img/skin/icons.png);
		background-position:-94px 0px;
	}
		.icon-share.google:hover {
			background-position:-94px -33px;
		}
		
	.icon-share.twitter {
		display: inline-block;
		width:33px;
		height:33px;
		margin-right:8px;

		background-image:url(../img/skin/icons.png);
		background-position:-129px 0px;
	}
		.icon-share.twitter:hover {
			background-position:-129px -34px;
		}
		
	.icon-share.email {
		display: inline-block;
		width:33px;
		height:33px;
		margin-right:8px;

		background-image:url(../img/skin/icons.png);
		background-position:-165px 0px;
	}
		.icon-share.email:hover {
			background-position:-165px -34px;
		}