/*  =HEADER
----------------------------------------------------------------------------- */
#header{
    position: fixed;
    z-index: 100;
    background: #fff;
    width: 100%;
    height: 64px;
    padding-top: 20px;
    text-transform: uppercase;
    -webkit-box-shadow: 0 -1px 9px #8a8a8a;
    -moz-box-shadow: 0 -1px 9px #8a8a8a;
    box-shadow: 0 -1px 9px #8a8a8a;
}
.site-logo{
    display: inline-block;
    margin: 0 20px 0 0;
}

/* menu */
#menu{
    margin: 6px 0 0 -10px;
}
#menu li{
    display: inline-block;
    border-left: 1px solid #dbd8d8;
    padding: 0 15px;
    line-height: 10px;
}
#menu li:first-child{
    border-left: none;
}

#menu li a{
    padding: 1px 8px;
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    transition: all 100ms ease;
}
.msie8 #menu li a{
    padding: 5px 8px;
}
#menu li a:hover,
#menu li a.active{
    padding: 5px 8px;
}
/* login */
#login{
    position: absolute;
    top:-1px;
    right: 0;
}
#login .btn-s{
    min-width: inherit;
}
#bt-connected{
    position: relative;
    width: 140px;
}
#bt-connected .icon-user2{
    font-size: 12px;
    padding-right: 2px;
}
#bt-connected a{
    color: #fff;
}
#bt-disconnect{
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 9px;
    background:url(../img/skin/sprite_pictos.png) -400px -200px no-repeat;
}
#bt-connected:hover #bt-disconnect{
    background-position: -500px -200px;
}

/* user idea tool */

#user-idea-tool p {
    display: block;
	list-style-type:none;
    height: 68px;
    line-height: 68px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #1681c8;
    -webkit-border-radius: 10px 0 0 10px;
       -moz-border-radius: 10px 0 0 10px;
            border-radius: 10px 0 0 10px;
    -webkit-box-shadow: 0 4px 5px #bebebe;
       -moz-box-shadow: 0 4px 5px #bebebe;
            box-shadow: 0 4px 5px #bebebe;
		   
	behavior: url(css/PIE.php);
		   
    position: fixed;
    top:100px;
    right: 0;
    z-index: 100;  
}

#user-post-idea {
	width:58px;
}

#user-share {
	padding-top:10px;
	margin-top:80px;
	margin-right:-210px;

	-webkit-transition: margin-right 400ms ease;
	   -moz-transition: margin-right 400ms ease;
	        transition: margin-right 400ms ease;
}
.no-touch #user-share:hover,
.touch #user-share.open{
    margin-right:0;
}
		
#user-share .icon:hover {
    color:#ff4c4b;
    cursor:pointer;
}
#user-share .no-hover:hover {
    color:#fff;
}

#user-external {
    width:58px;
    margin-top:160px;
}

#user-idea-tool p span {
    display: inline-block;
    color: #fff;
    margin-left:10px;
    margin-right:7px;
    font-size:34px;
}

#user-idea-tool #user-external span {
    font-size: 50px;
    margin-top: 8px;
}