@font-face {
	font-family: 'cpp-icons';
	src:url('../fonts/cpp-icons.eot');
	src:url('../fonts/cpp-icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/cpp-icons.woff') format('woff'),
		url('../fonts/cpp-icons.ttf') format('truetype'),
		url('../fonts/cpp-icons.svg#cpp-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'cpp-icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none !important;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon {
	font-family: 'cpp-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-facebook:before {
	content: "\61";
}
.icon-google:before {
	content: "\62";
}
.icon-twitter:before {
	content: "\63";
}
.icon-email:before {
	content: "\64";
}
.icon-arrow-left:before {
	content: "\65";
}
.icon-arrow-right:before {
	content: "\66";
}
.icon-arrow-up:before {
    content: "\31";
}
.icon-arrow-down:before {
    content: "\32";
}
.icon-arrow-left-large:before {
	content: "\67";
}
.icon-arrow-right-large:before {
	content: "\68";
}
.icon-play:before {
	content: "\69";
}
.icon-light:before {
	content: "\6a";
}
.icon-search:before {
	content: "\6b";
}
.icon-star:before {
	content: "\6c";
}
.icon-check:before {
	content: "\6d";
}
.icon-vote:before {
	content: "\6e";
}
.icon-users:before {
    content: "\6f";
}
.icon-user:before {
    content: "\70";
}
.icon-question:before {
    content: "\71";
}
.icon-list:before {
    content: "\72";
}
.icon-user2:before {
    content: "\73";
}
.icon-fellow:before {
	content: "\74";
}
.icon-pen:before {
    content: "\75";
}
.icon-file:before {
    content: "\76";
}
.icon-bull:before {
    content: "\77";
}
.icon-lock:before {
    content: "\79";
}
.icon-email2:before {
    content: "\78";
}
.icon-like:before {
    content: "\33";
}
.icon-crf50ans:before {
    content: "\7a";
}