/* BLOC : JE PROPOSE MON IDEE */

.bloc-proposeridee {
	width:940px;
	background:#f0f0f0;
	padding:25px 135px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

	.bloc-proposeridee p {
		line-height:28px;
	}
	
	.bloc-proposeridee .likes {
		font-size:24px;
		color:#ff4c4b;
	}
	
/* FICHE THEMATIQUE : BIG SLIDE */

.thematic-slide {
	width:940px;
}
	.thematic-slide .subimg {
		font-size:20px;
		text-align:center;
		text-transform:uppercase;
		
		margin-top:30px;
		margin-bottom:30px;
	}
	
/* FICHE THEMATIQUE : CONTENEUR */
	
.thematic-fiche {
	width:600px;
	margin-right:40px;
	float:left;
}

	/* FICHE THEMATIQUE : IMAGE & DESCRIPTION */
	
	.thematic-fiche .img {
		width:600px;
		height:400px;
		
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
	}
	
	.thematic-fiche .subimg {
		font-size:20px;
		text-align:center;
		text-transform:uppercase;
		
		margin-top:30px;
		margin-bottom:30px;
	}
	
	/* FICHE THEMATIQUE : CADRE AUTEUR & VOTER */
	
	.thematic-fiche .voter {
		border-top:1px solid #a5a5a5;
		border-bottom:1px solid #a5a5a5;
		padding:11px 0 11px 0;
	}
		/* UTILISATEUR */
		.user {
			width:254px;
			float:left;
			margin-right:0;
		}
		/* THUMB */
		.thumb-mini {
			float:left;
			z-index:2;
			border-style:solid;
			border-width:1px;
			width:58px;
			height:58px;
			padding:3px;
			margin-right:15px;
			-webkit-border-radius: 75px;
			   -moz-border-radius: 75px;
					border-radius: 75px;
			behavior: url(css/PIE.php);
		}
			.thumb-mini img {
				float:left;
				z-index:2;
				width:50px;
				height:50px;
				-webkit-border-radius: 75px;
				   -moz-border-radius: 75px;
						border-radius: 75px;
				behavior: url(css/PIE.php);
			}
	.jevote {
		width:90px;
		height:50px;
		margin-top:7px;
		margin-right:0px;
		float:left;
		text-align:center;
		border-left:1px solid #a5a5a5;
		border-right:1px solid #a5a5a5;
		cursor:pointer;
	}
		.jevote .icon {
			line-height:36px;
		}
	
	/* FICHE THEMATIQUE : PROGRESSION DE L'IDEE */
	
	.progress {
		width:220px;
		float:right;
		margin-right:0;
		padding-top:5px;
		text-align:right;
	}
		.progress .title-3 {
			font-size:24px;
		}
		
		/* PROGRESSBAR */
		.progressbar {
			width:220px;
			height:11px;
			background:#fff;
			margin-top:4px;
			
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
		}
			.progressbar.off {
				background:#868686;
			}
			.progressbar span {
				height:11px;
				display:block;
				background:#ff4c4b;
				
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
			}
			
	/* FICHE : THEMATIQUE : BLOC TEXTE */
	.txt {
		float:none;
		border-bottom:1px solid #a5a5a5;
		padding:18px 0 18px 0;
	}
		.txt p {
			margin-bottom:10px;
		}
			
	/* FICHE THEMATIQUE : INVITER MES AMIS A VOTER */
	
	.friendsvote {
		border-bottom:1px solid #a5a5a5;
		padding:15px 0 15px 0;
		text-align:center;
	}
		.friendsvote .icon {
			font-size:30px;
			line-height:48px;
			margin-right:18px;
		}
		.friendsvote .icon:last-child {
			margin-right:0;
		}
		
	/* FICHE THEMATIQUE : NOMBRE DE COMMENTAIRE ET REAGIR */
		
	.comments {
		border-bottom:1px solid #a5a5a5;
		padding:30px 0 30px 0;
		margin-bottom:20px;
	}
		.comments .bg-blue {
			width:110px;
			text-align:center;
			min-width:inherit;
			margin-top:5px;
		}
		.comments textarea {
			width:600px;
			height:120px;
			color:#585858;
			
			margin-top:20px;
			padding:8px;
			
			resize:none;
			border:none;
			
			-webkit-border-radius:3px;
			-moz-border-radius:3px;
			border-radius:3px;
			
			-moz-box-shadow: inset 0 0 2px 1px #dbdbdb;
			-webkit-box-shadow: inset 0 0 2px 1px #dbdbdb;
			box-shadow: inset 0 0 2px 1px #dbdbdb;
		}
		.comments .bg-white {
			width:80px;
			text-align:center;
			min-width:inherit;
			margin-top:20px;
		}
		
	/* FICHE THEMATIQUE : COMMENTAIRE */
		
	.comment {
		border-bottom:1px solid #a5a5a5;
		padding:0 0 20px 0;
		margin-bottom:15px;
	}
		.comment .date {
			line-height:30px;
			float:left;
			color:#999999;
		}
			.comment .date sup {
				font-size:16px;
				line-height:16px;
				font-weight:normal;
				vertical-align:30%;
				color:#999999;
			}
		.comment .username {
			border-left:1px solid #a5a5a5;
			margin-left:20px;
			padding:5px 0px 0px 20px;
			float:left;
			height:30px;
		}
		.comment p {
			margin-top:15px;
		}
	
/* FICHE THEMATIQUE : COLONNE DROITE */

.thematic-ideas {
	width:300px;
	float:left;
}

	.thematic-avis-crf {
		width:300px;
	}
	
	.thematic-avis-crf .first {
		padding:15px 15px 10px 15px;
		background:#fff;
	}
	
	.thematic-avis-crf .last {
		padding:15px;
	}