.jquery-modal{
    position: fixed;
    z-index: 200 !important;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.75;
    filter:alpha(opacity=75);
}
.modal {
    position: fixed;
    z-index: 300 !important;
    top: 64px;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    padding: 30px 100px;
    text-align: center;
    font-family: 'Signika-Regular';
    font-size: 20px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.28);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.28);
            box-shadow: 0 1px 2px rgba(0,0,0,.28);
    background-image: -webkit-linear-gradient(bottom, #ececec, #fff);
    background-image:    -moz-linear-gradient(bottom, #ececec, #fff);
    background-image:      -o-linear-gradient(bottom, #ececec, #fff);
    background-image:     -ms-linear-gradient(bottom, #ececec, #fff);
    background-image:         linear-gradient(to top, #ececec, #fff);
	
	behavior: url(css/PIE.php);
}

.close-modal{
    position: absolute;
    top: 12px;
    right: 10px;
    display: block;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
    background:url(../img/skin/sprite_pictos.png) -600px -200px no-repeat;
    cursor: pointer;
}
.modal-spinner {
    display: none;
    width: 64px;
    height: 64px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -32px;
    margin-top: -32px;
    background: url(../img/data/spinner.gif) #111 no-repeat center center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

