#nav {
	overflow:hidden;
	background:url(../img/skin/sprite_pictos.png) center -300px no-repeat;
	margin:20px -15px;
}
#nav li {
	float:left;
	margin:0 17px;
}
#nav li .item {
	display:block;
	text-align:center;
	width:160px;
	height:160px;
	background-image:url(../img/skin/sprite_pictos.png);
	background-position:0 -500px;
	position:relative;
	font-family: 'Signika-Bold';
}
#nav li a.item.active,
#nav li a.item:hover { background-position:-200px -500px; }
#nav li .item.disabled {
	opacity:0.5;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
#nav li .item .icon {
	color:#6e6e6e;
	margin-top:15px;
	font-size:30px;
}
#nav li a.item.active .icon,
#nav li a.item:hover .icon { color:#fff; }
#nav li .item .title {
	color:#6e6e6e;
	position:absolute;
	font-size:15px;
	width:100%;
	bottom:70px;
	text-transform:uppercase;
}
#nav li a.item.active .title,
#nav li a.item:hover .title { color:#fff; }
#nav li .item .number {
	position:absolute;
	font-size:30px;
	width:100%;
	bottom:8px;
}
#nav li .item:hover .number { background:none; }
#nav li .item.disabled .number { color:#fff; }

/* PAGE THEMATIQUE 01 */

.thematic-idea-img {
		width:450px;
		height:300px;
		
		float:left;
		margin-top:10px;
}

.thematic-idea-right {
	float:left;
	width:470px;
	
	margin-left:20px;
	margin-top:20px;
}

	.thematic-idea-right span.txt-14 {
		color:#6e6e6e;
		vertical-align:top;
	}
	
/* PAGE THEMATIQUE 02 */

ul.tri-ideas {
	margin:15px 0 0 0;
	padding:0;
}

	ul.tri-ideas li {
		display:inline-block;
		padding:0px 8px 0px 8px;
		margin-right:5px;
		
		font-size:16px;
		text-transform:uppercase;
		cursor:pointer;
	}
	ul.tri-ideas li:last-child {
		margin-right:0;
	}
	
	ul.tri-ideas li:hover, ul.tri-ideas li.active {
		background:#fff;
		padding:3px 8px 3px 8px;
		
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		transition: all 300ms ease;
	}
	
div.pagination {
	text-align:center;
}

	ul.pagination {
		margin:0;
		padding:0;
	}
	
	ul.pagination li {
		display:inline-block;
		font-size:22px;
		font-weight:bold;
		padding:5px;
	}
	
	
/* BLOC : JE PROPOSE MON IDEE */

.bloc-proposeridee {
	width:940px;
	background:#f0f0f0;
	padding:25px 135px;
}

	.bloc-proposeridee p {
		line-height:28px;
	}
	
	.bloc-proposeridee .likes {
		font-size:24px;
		color:#ff4c4b;
	}
	
/* FICHE THEMATIQUE : BIG SLIDE */

.thematic-slide {
	width:940px;
}
	.thematic-slide .subimg {
		font-size:20px;
		text-align:center;
		text-transform:uppercase;
		
		margin-top:30px;
		margin-bottom:30px;
	}
	
/* FICHE THEMATIQUE : CONTENEUR */
	
.thematic-fiche {
	width:600px;
	margin-right:40px;
	float:left;
}

	/* FICHE THEMATIQUE : IMAGE & DESCRIPTION */
	
	.thematic-fiche .img {
		width:600px;
		height:400px;
	}
	
	.thematic-fiche .subimg {
		font-size:20px;
		text-align:center;
		text-transform:uppercase;
		
		margin-top:30px;
		margin-bottom:30px;
	}
	
	/* FICHE THEMATIQUE : CADRE AUTEUR & VOTER */
	
	.thematic-fiche .voter {
		border-top:1px solid #a5a5a5;
		border-bottom:1px solid #a5a5a5;
		padding:11px 0 11px 0;
	}
		/* UTILISATEUR */
		.user {
			width:254px;
			float:left;
			margin-right:0;
		}
		/* THUMB */
		.thumb-mini {
			float:left;
			width:58px;
			height:58px;
			margin-right:15px;
		}
			.thumb-mini .thumb-mini-mask {
				position:absolute;
				z-index:2;
				
				border-style:solid;
				border-width:1px;
				width:58px;
				height:58px;
				padding:3px;
						
				-webkit-border-radius: 75px;
				   -moz-border-radius: 75px;
						border-radius: 75px;
				behavior: url(css/PIE.php);
				
			}
			.thumb-mini img {
				width:50px;
				height:50px;
				
				-webkit-border-radius: 75px;
				   -moz-border-radius: 75px;
						border-radius: 75px;
				behavior: url(css/PIE.php);
			}
			
	.jevote {
        position: relative;
		width:90px;
		height:50px;
		margin-top:7px;
		margin-right:0px;
		float:left;
		text-align:center;
		border-left:1px solid #a5a5a5;
		border-right:1px solid #a5a5a5;
		cursor:pointer;
	}
    .jevote:hover,
    .jevote:hover .icon {
        color:#ff4c4b;
    }
    .jevote .icon {
        position: absolute;
        top:10px;
        right: 0;
        left: 0;
        margin: 0 auto;
        outline: none;
    }

    .jevote .voted-text,
    .jevote .not-voted-text{
        position: absolute;
        right: 0;
        left: 0;
        bottom: -5px;
    }
    .jevote .voted-text{
        display: none;
    }
    .jevote.voted{
        cursor: default;
    }
    .jevote.voted .icon{
        top:-5px;
        font-size: 40px;
        color:#1681c8;
        cursor: default;

    }
    .jevote.voted .voted-text{
        display: block;
        color:#1681c8;
    }
    .jevote.voted .not-voted-text{
        display: none;
    }

	/* FICHE THEMATIQUE : PROGRESSION DE L'IDEE */
	
	.progress {
		width:220px;
		float:right;
		margin-right:0;
		padding-top:5px;
		text-align:right;
	}
		.progress .title-3 {
			font-size:24px;
		}
		
		/* PROGRESSBAR */
		.progressbar {
			width:220px;
			height:11px;
			background:#fff;
			margin-top:4px;
		}
			.progressbar.off {
				background:#868686;
			}
			.progressbar span {
				height:11px;
				display:block;
				background:#ff4c4b;
			}
			
	/* FICHE : THEMATIQUE : BLOC TEXTE */
	.txt {
		float:none;
		border-bottom:1px solid #a5a5a5;
		padding:18px 0 18px 0;
	}
		.txt p {
			margin-bottom:10px;
		}
			
	/* FICHE THEMATIQUE : INVITER MES AMIS A VOTER */
	
	.friendsvote {
		border-bottom:1px solid #a5a5a5;
		padding:15px 0 15px 0;
		text-align:center;
	}
		.friendsvote .icon {
			font-size:30px;
			line-height:48px;
			margin-right:18px;
		}
		.friendsvote .icon:last-child {
			margin-right:0;
		}
		
	/* FICHE THEMATIQUE : NOMBRE DE COMMENTAIRE ET REAGIR */
		
	.comments {
		border-bottom:1px solid #a5a5a5;
		padding:30px 0 30px 0;
		margin-bottom:20px;
	}
		.comments .bg-blue {
			width:110px;
			text-align:center;
			min-width:inherit;
			margin-top:5px;
		}
		.comments textarea {
			width:600px;
			height:120px;
			color:#585858;
			
			margin-top:20px;
			padding:8px;
			
			resize:none;
			border:none;
						
			-moz-box-shadow: inset 0 0 2px 1px #dbdbdb;
			-webkit-box-shadow: inset 0 0 2px 1px #dbdbdb;
			box-shadow: inset 0 0 2px 1px #dbdbdb;
		}
		.comments .bg-white {
			width:80px;
			text-align:center;
			min-width:inherit;
			margin-top:20px;
		}
		
	/* FICHE THEMATIQUE : COMMENTAIRE */
		
	.comment {
		border-bottom:1px solid #a5a5a5;
		padding:0 0 20px 0;
		margin-bottom:15px;
	}
		.comment .date {
			line-height:30px;
			float:left;
			color:#999999;
		}
			.comment .date sup {
				font-size:16px;
				line-height:16px;
				font-weight:normal;
				vertical-align:30%;
				color:#999999;
			}
		.comment .username {
			border-left:1px solid #a5a5a5;
			margin-left:20px;
			padding:5px 0px 0px 20px;
			float:left;
			height:30px;
		}
		.comment p {
			margin-top:15px;
		}
	
/* FICHE THEMATIQUE : COLONNE DROITE */

.thematic-ideas {
	width:300px;
	float:left;
}

	.thematic-avis-crf {
		width:300px;
	}
	
	.thematic-avis-crf .first {
		padding:15px 15px 10px 15px;
		background:#fff;
	}
	
	.thematic-avis-crf .last {
		padding:15px;
	}
	
	
/* =IDEA
----------------------------------------------------------------------------- */
/* list-ideas */
.list-ideas {
	overflow:auto;
	margin:-10px;
}
.list-ideas li {
	width:300px;
	float:left;
	margin:10px;
}

/* list-ideas big */

.list-ideas-big li .title .icon {
	margin:7px;
	margin-left:0;
}

.list-ideas-big li .title h3 {
	margin-top:2px;
}

.list-ideas-big li .inner {
	padding-top:20px;
}
	.list-ideas-big li .inner .icon {
		float:right;
		font-size:48px;
		
		margin-right:50px;
		margin-top:20px;
	}
	.over-icon {
		background-image:url(../img/skin/icons.png);
		background-position:left left;
		height:40px;
		width:47px;
		
		text-align:center;
		color:#fff;
		font-size:18px;
		padding-top:4px;
		
		float:right;
		margin-right:40px;
		margin-top:25px;
	}

.list-ideas-big li .thumb-mini {
	float:none;
	margin-left:auto; 
	margin-right:auto;
	margin-bottom:7px;
}

.list-ideas-big li .encart {
	border-top:1px solid #c1c1c1;
	border-bottom:1px solid #c1c1c1;
	width:100%;
	padding:10px;
	margin-top:10px;
}

.list-ideas-big li .progress {
	float:none;
	text-align:left;
	margin-top:15px;
	margin-left:50px;
}

/* carrousel-ideas */
.carrousel-ideas .list-ideas {
	margin:0;
	overflow:hidden;
}
.carrousel-ideas .list-ideas li { margin:0; }

/* block-idea */
.block-idea {
	background:#fff;
	height:350px;
}
	.block-idea.big {
		background:#fff;
		height:347px;
	}
	
.line-white .block-idea { background:#f0f0f0; }
.block-idea .title {
	color:#fff;
	font-size:14px;
	font-family: 'Signika-Bold';
	line-height:35px;
	padding:0 8px;
	text-transform:uppercase;
}
.block-idea .content {
	font-size:18px;
	text-align:center;
	height:115px;
	display:table;
	width:100%;
	padding:0 20px;
	position:relative;
}
.block-idea .content p { line-height:18px; }
.block-idea .inner {
	display:table-cell;
	vertical-align:middle;
}
.idea-master .thumb {
	position:absolute;
	top:-43px;
	left:50%;
	margin-left:-43px;
	z-index:2;
	border-style:solid;
	border-width:1px;
	background:#fff;
	width:85px;
	height:85px;
	padding:4px;
	-webkit-border-radius: 75px;
       -moz-border-radius: 75px;
            border-radius: 75px;
	behavior: url(css/PIE.php);
}
.idea-master .thumb img {
	-webkit-border-radius: 75px;
       -moz-border-radius: 75px;
            border-radius: 75px;
	behavior: url(css/PIE.php);
	position:relative;
}
.block-idea .author {
	font-size:14px;
	line-height:14px;
	margin-top:5px;
}
.idea-master .author {
	font-size:30px;
	line-height:30px;
	font-family: 'Signika-Regular';
	margin:25px 0 10px;
}

.idea-master .hover-texts {
	position:absolute;
	z-index:3;
	margin:40px 10px 20px 10px;
}
.idea-master .hover-texts p {
    padding-left:50px;
    padding-right:50px;
}

.idea-master .picture-mask {
	position:absolute;
	z-index:2;
	background:#fff;
	width:300px;
	height:200px;
	opacity:0.9;
	filter: alpha(opacity=90);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    display: none;
}
	
.idea-master .hover-texts.big {
    position:absolute;
    z-index:3;
    margin:110px 10px 20px 10px;
}

.idea-master .picture-mask.big {
    height:350px;
}

/* hover state*/
.idea-master-hover:hover .hover-texts,
.idea-master-hover:hover .picture-mask{
    display: block !important;
}
.icon-light,
.icon-search,
.icon-star,
.icon-check,
.icon-vote {
	display:inline-block;
	font-size:18px;
	vertical-align:middle;
	margin:-3px 5px 0 0;
}
.icon-vote { margin:-3px 0 0 5px; }

.block-idea .icon-light,
.block-idea .icon-search,
.block-idea .icon-star,
.block-idea .icon-check {
	width: 24px;
	height: 24px;
	-webkit-border-radius: 12px;
	   -moz-border-radius: 12px;
	        border-radius: 12px;
	background-color: #fff;
	text-align:center;
	line-height:24px;
	font-size:16px;
	behavior: url(css/PIE.php);
	position:relative;
}
.idea-master .icon-light {
	background:none;
	width:auto;
	height:auto;
	margin:-3px 0 0;
}